/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
} */
.container-1 {
  border: 3px solid red;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
.flex-box-container-1 {
  display: flex;
  border: 1px solid black;
  padding: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-box-container-1 div {
  display: flex;
  padding: 1rem;
  border: 1px solid black;
  align-items: center;
}

/* challenge2 */
.container-2 {
  border: 1px solid green;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid blue; */
}

.flex-box-container-2 img {
  /* border: 2px solid purple; */
  /* padding: 1rem; */
  margin: 1rem;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.5);
}

/* challenge 3 */
.container-3 {
  border: 1px solid green;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid blue;
}

.flex-box-rps {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
  border: 1px solid rgb(255, 119, 0);
}

.flex-box-rps img:hover {
  box-shadow: 0px 1rem 1rem rgba(28, 128, 244, 0.5);
}
