* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img {
  height: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.logo-container {
  display: flex;
}

/* logo here */
.main-head {
  position: sticky;
  top: 0px;
  z-index: 1;
}
nav ul {
  display: flex;
  background: green;
  padding: 1rem;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-size: 2.5rem;
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
}
/* ///////////////// HERO /////////////////////////////////////// */
.hero {
  min-height: 90vh;
  background-image: url("img/fresheats-landing.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero img {
  height: 100%;
  width: 100%;
}
.hero-logo {
  background: white;
  width: 55rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  opacity: 95%;
  border-radius: 10%;
}

.hero h2 {
  margin: 2rem;
  font-size: 6rem;
  text-shadow: 1px 1px 2px rgb(20, 92, 9), 0 0 25px rgb(0, 255, 8),
    0 0 5px rgb(6, 91, 44);
}
.hero p {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0),
    0 0 5px rgb(0, 0, 0);
}
.hero button {
  padding: 1rem 3rem;
  background: #ea7728;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}
.hero button:hover {
  background-color: #397106; /* Green */
}

/* /////////////////////////// END OF HERO ///////////////////////////////// */
.intro {
  display: flex;
  flex-wrap: wrap;
}
.intro img {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.intro-img {
  flex: 2 1 60rem;
  background: orange;
}
.intro-text {
  flex: 1 1 30rem;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-text h2 {
  padding: 2rem;
  font-size: 5rem;
}
.rectangle {
  min-width: 12rem;
  min-height: 1%;
  background-color: orange;
  border-radius: 1%;
}
.intro-text p {
  padding: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.intro-text button {
  padding: 1rem 3rem;
  background: green;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}
.intro button:hover {
  background-color: #ea7728; /* Green */
}
/* /////////////////////////// END OF INTRO ///////////////////////////////// */
.events {
  display: flex;
  flex-wrap: wrap;
}
.events-text {
  flex: 1 1 30rem;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.events-text h2 {
  padding: 2rem;
  font-size: 5rem;
}
.rectangle2 {
  min-width: 12rem;
  min-height: 1%;
  background-color: orange;
  border-radius: 1%;
}
.events-text p {
  padding: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.events img {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.events-img {
  flex: 2 1 60rem;
  background: orange;
}
.events button {
  padding: 1rem 3rem;
  background: green;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}
.events button:hover {
  background-color: #ea7728; /* Green */
}
/* /////////////////////////// END OF EVENTS ///////////////////////////////// */
.div-rec {
  min-width: 12rem;
  min-height: 1%;
  background-color: green;
  border-radius: 1%;
  flex-wrap: wrap;
}
.app-promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 6rem 0rem;
}
.app-promo img {
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
}
.app-store-img {
  flex: 0 1 20rem;
  cursor: pointer;
}
.app-header {
  font-size: 3rem;
  color: orange;
  margin: 0rem 2rem;
  text-align: center;
}
.app-store-img2 {
  flex: 0 1 20rem;
  cursor: pointer;
  margin-left: 3rem;
}
/* /////////////////////////// END OF EVENTS ///////////////////////////////// */
.hero-two {
  min-height: 90vh;
  background-image: url("img/fresheats-img2.jpg");

  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.hero-two h2 {
  font-size: 5rem;
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  color: orange;
  text-shadow: 2px 2px 1px #c4fac2;
}

.text-container {
  background: white;
  width: 25rem;
  height: 30rem;
  align-items: center;
  justify-content: center;
  opacity: 80%;
  border-radius: 10%;
}
/* /////////////////////////////////////////////////////////// */
.maps {
  display: flex;
  flex-wrap: wrap;
}
.maps img {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.maps-img {
  flex: 1 1 60rem;
  background: orange;
}
.maps-text {
  flex: 1 1 30rem;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.maps-text h2 {
  padding: 2rem;
  font-size: 5rem;
}
.rectangle {
  min-width: 12rem;
  min-height: 1%;
  background-color: orange;
  border-radius: 1%;
}
.maps-text p {
  padding: 1rem;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}
.maps-text button {
  padding: 1rem 3rem;
  background: green;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 2rem;
  cursor: pointer;
}
.maps button:hover {
  background-color: #ea7728; /* Green */
}
/* /////////////////////////// END OF MAPS ///////////////////////////////// */
footer {
  background: green;
  color: white;
  display: flex;
  padding: 3rem 10rem;
  align-items: center;
  flex-wrap: wrap;
}
footer img {
  height: 100%;
  width: 100%;
}
footer ul {
  display: flex;
  flex: 2 1 50rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
footer h4 {
  flex: 2 1 40rem;
  font-size: 3rem;
}

/* /////////////////////////////////////   QUERY SELECTORS /////////////////////////////// */
@media screen and (min-width: 812px) {
  html {
    display: block;
  }
  .hero img {
    width: 80%;
    height: 80%;
  }
  .hero-logo {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
  }

  .header {
    width: 20%;
    display: flex;
  }
  nav ul {
    display: inline;
    background: green;
    padding: 1rem;
    justify-content: space-around;
    min-height: 2vh;
    align-items: center;
    font-size: 1rem;
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
  }
}
@media screen and (min-width: 375px) {
  .hero img {
    width: 80%;
    height: 80%;
  }
  .hero-logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
  }
  .hero-logo {
    background: white;
    width: 50rem;
    height: 25rem;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    border-radius: 10%;
  }
  .hero h2 {
    text-align: center;
  }
  footer h4 {
    padding: 2rem 0rem;
  }
  nav ul {
    display: flex;
    background: green;
    padding: 0.25rem;
    min-height: 10vh;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
  }
  .maps-text h2 {
    text-align: center;
  }
}
